:root {
  --dark-blue: #0a2942;
  --slate: #636b78;
  --light-slate: #a1a6ad;
  --lightest-slate: #d1d4d6;
  --bluish-grey: #678398;
  --black: #000000;
  --white: #ffffff;
}

.app {
  background-color: var(--dark-blue);
}

@tailwind base;
@tailwind components;
@tailwind utilities;
